
.sombra{
    box-shadow: 0px 0px 10px -5px rgb(92, 241, 192);
}
.divP{
    
    height: 600px;
}
.corV{
    color: rgb(92, 241, 192);
}
.border {
    border-radius: 30px;
}
@media  screen and (max-width : 576px) {
    .col1 {
        flex-direction: column;
    }
    .textS{
        font-size: medium;
    }
}
@media screen and (min-width: 766px) {
    .buttonL{
        width: 50%;
    }
    
}